.modal-content {
  border-radius: 15px;
  overflow: hidden;
  animation: fadeIn 0.4s ease-in-out;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

@keyframes fadeIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Toast Style */
.Toastify__toast {
  border-radius: 10px;
  font-size: 0.95rem;
}
